NEO_DATA_DIR=
NEO_LOG_LEVEL=INFO
NEO_OLLAMA_URL=http://127.0.0.1:11434
NEO_MAIN_MODEL=qwen3.5:9b
NEO_LIGHT_MODEL=qwen3.5:0.8b
NEO_MAIN_MIN_VRAM_GB=8
NEO_MAIN_MIN_RAM_GB=16
NEO_MAX_LOAD_PERCENT=85
NEO_PREFER_REMOVABLE=false

